/* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #f3f3f3;
  --dark: #686868;
}

body {
  background: #181818;
  margin: 0;
}

.container {
  width: 25em;
  display: flex;
  flex-direction: column;
  margin: auto;
}

form input{
  height: 4.5em;
  font-size: 1.2em;
  padding: 0 1.25em;
  border-radius: 0.3125em;
  background: #2e2e2e;
  border: 0;
  margin-bottom: 0.125em;
  color: #aaa;
}

form input[type="submit"]:hover {
  background-color: rgb(168, 0, 0);
  color: white;
  cursor: pointer;
}

a {
  font-family: "Roboto", sans-serif;
  margin: 1.25em auto;
  color: #aaa;
  text-decoration: none;
  transition: color 0.3s;
  display: flex;
  justify-content: center;
}

.registra > a:hover {
  color: rgb(255, 0, 0);
}

footer > a:hover {
  color: rgb(255, 0, 0);
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

h1 {
  padding-top: 3.75em;
}

.wrapper {
  margin: 0;
  padding: 0;
}

header {
  padding: 1.25em 1.25em 0 1.25em;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap: 0.3125em;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: "nt mn mn sb . . . ";
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;
}

.logos {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: auto;
}

footer {
  text-align: center;
  color: var(--dark);
  margin: 0;
  background-color: #181818;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.logos img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.3s;
}

.logos img:hover {
  transform: scale(1.2);
}

/* Estilos para pantallas de escritorio */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px; /* Tama침o de fuente base para escritorio */
  }

}

/* Estilos para dispositivos m칩viles */
@media only screen and (max-width: 767px) {
  body {
    font-size: 12px; /* Tama침o de fuente base para m칩viles */
  }
  .container {
    width: 75%;
  }
}